.row
  .col-md-6
    %h3 Trackable
    #trackables
    = simple_form_for @trackable, html: { multipart: true } do |f|
      - if @trackable.errors.any?
        #errors
          %p
            = @trackable.errors.count
            Prevented this recipe from saving.
          %ul
            - @trackable.errors.full_messages.each do |msg|
              %li = msg
        = f.input :name, input_html: { class: "form-input form-control" }
        = f.input :kind, input_html: { class: "form-input form-control" }
        = f.input :min, input_html: { class: "form-input form-control" }
        = f.input :max, input_html: { class: "form-input form-control" }