%h1= @graph.name
%br

- if @graph.trackables.any?
  = render 'chart'

  = render 'points/form'
    

  %br
  %br

%h3 Add New Trackable
= render 'trackables/form'

%br
= link_to "Delete Graph", @graph, method: :delete, data: { confirm: "Delete graph and trackables?"}, class: "btn btn-default" 