%h1= @graph.name
%br

%h1 *** GRAPH GOES HERE ***
%br

- @trackables.each do |trackable|
  = simple_form_for ([trackable, trackable.points.build]) do |f|
    = trackable.name
    = f.input :value,   input_html: { class: 'form-control'}
    = f.button :submit, class: "btn btn-primary"


%h3 Add New Trackable
= render 'trackables/form'