= link_to "Back", root_url

%h1= @graph.name
%br


= render 'chart'


- @trackables.each do |trackable|
  - @points = trackable.points.all
  - @points.each do |point|
    = point.value

  = simple_form_for([@graph, trackable, trackable.points.build]) do |f|
    
    = f.input :value, label: trackable.name, input_html: { class: "form-control" }
    
    %br
    = f.button :submit, class: "btn btn-default"  
/  - render 'points/form', trackable: trackable
  


%h3 Add New Trackable
= render 'trackables/form'

%ul
  -