%h1= @graph.name
%br

%h1 *** GRAPH GOES HERE ***
%br

= link_to "New Entry", new_graph_entry_path(@graph.id), class: "btn btn-primary"

%h3 
  Trackables for 
  = @graph.name
%ul
  - @trackables.each do |trackable|
    %li= trackable.name
    %li= trackable.kind
    %br

%h3 Add New Trackable
= render 'trackables/form'