!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1"}
    %title Graphit
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    / Likely more efficient way to implement JS with Rails
    = render 'layouts/script_links'


  %body
    = render 'layouts/header'
    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert, alert-#{name}"
      = yield
